<div class="container">

<!-- header -->
  <div class="row">
    <div class="page-header">
      <h1><%= @recipe.name %></h1>
    </div>
      <p><img src="<%= @recipe.image_url %>"><p>
  </div>

  <!-- ingredients div -->
  <div class="col-sm-8">
    <div class="row">
      <div class="page-header">
        <h1><small>Ingredients</small></h1>
      </div>
      <h6>Servings: <%= @recipe.servings %></h6>
      <h6>Prep Time: <%= @recipe.prep_time %></h6>
      <% @recipe.ingredients.each do |i| %>
        <li><%= highlight_ingredients(i.item, @recipe.recipe_procedures).html_safe %></li>
        <li>Doubled: <%= recipe_converter(highlight_ingredients(i.item, @recipe.recipe_procedures),2).html_safe %></li>

      <% end %>
    </div>

    <!-- directins div -->
    <div class="row">
      <div class="page-header">
        <h1><small>Directions</small></h1>
      </div>
      <ol>
      <% @recipe.directions.each do |direction| %>
        <li><%= highlight_directions(direction.step, @recipe.recipe_procedures).html_safe %></li>
      <% end %>
      </ol>
    </div>
  </div>

  <!-- terms div -->
  <div class="col-sm-4">
    <div class="terms-box">
      <div class="page-header">
        <h1><small>Culinary Terms</small></h1>
      </div>
      <div class="scrollable">
        <%= render partial: "procedures", locals: { procedure: @procedure } %>
      </div>
    </div>
  </div>
</div>
