<div class="col-sm-6">
  <div class="row-fluid">
    <div class="page-header">
      <h1><%= @recipe.name %></h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="page-header">
      <h1><small>Ingredients</small></h1>
    </div>
    <h6>Servings: <%= @recipe.servings %></h6>
    <% @recipe.ingredients.each do |i| %>
      <li><%= highlight(i.item, @recipe.recipe_procedures).html_safe %></li>
      <li>Doubled: <%= recipe_converter(highlight(i.item, @recipe.recipe_procedures).html_safe,2) %></li>

    <% end %>
  </div>

  <div class="row-fluid">
    <div class="page-header">
      <h1><small>Directions</small></h1>
    </div>
    <% @recipe.directions.each do |direction| %>
      <li><%= highlight(direction.step, @recipe.recipe_procedures).html_safe %></li>
    <% end %>
  </div>
</div>

<div class="col-sm-4">
  <%= render partial: "procedures", locals: {procedure: @procedure} %>
</div>
