<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Oxygen|Lobster|Maven+Pro|Questrial|Poppins|Didact+Gothic|Marmelad|Overlock|Lily+Script+One' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'chef.png'%>
  <title>InstaChef</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand logo" href="/">InstaChef</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class='conversions dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown">CONVERSIONS<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="fluid"><a href='/fluid'>Fluid Converter</a></li>
            <li id="weight"><a href='/weight'>Weight Converter</a></li>
          </ul>
        </li>
        <li class='temperatures'><a href="/temperatures">MEAT TEMPERATURES</a></li>
        <li class='terms'><a href="/procedures">CULINARY TERMS</a></li>
        <li class='all-recipes'><a href="/recipes">ALL RECIPES</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="conversions container-fluid bg-grey"></div>

<div class="converter"></div>

<div class="meat-conversions container-fluid">
  <%= render partial: 'dashboard/meatconversions', layout: false %>
</div>


<div class="container-fluid bg-grey catch-phrase">
  <i class="icon-chef"></i>
  <div>...because you don't need to be a chef to cook</div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      </div>
      </div>
    </nav>
      <div id="main-container" class="container-fluid bg-grey">
        <div class="row">
            <%= yield %>
        </div>
      </div>
    </div>
    <footer class="container-fluid text-center bg-grey">
      created with love by team bEAST coast
    </footer>
</body>
</html>
